html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul,
ol{
  list-style: none;
}
img {
  max-width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: #242B33;
  color: #fff;
}
.container{
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
}
.header__container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

}
.header{
  background-image: url(../img/header-bg.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header__list{
  display: flex;
}
.header__item:not(:last-child){
  margin-right: 39px;
}
.header__link{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  transition: all .3s;
}
.header__link:hover{
  opacity: .5;
}
.header__content{
  max-width: 556px;
  margin: 0 auto;
}
.header__title{
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #D4C17F;
  margin-bottom: 100px;
}
.header__mouse{
  display: flex;
  justify-content: center;
}
.header__btn{
  max-width: 583px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 74px;
  gap: 135px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
.benefits__row{
  display: flex;
  justify-content: center;
  max-width: 814px;
  margin: 0 auto;
  padding: 0 10px;
}
.benefits__item{
  text-align: center;
}
.benefits__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0;
}
.benefits__img{
  margin-bottom: 47px;
}
.benefits_text{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}
.apartments__title{
  margin-bottom: 100px;
}
.apartments__cards{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.apartments__card{
  position: relative;
}
.apartments__text{
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 24px;
  line-height: 28px;
}
.look{
  background-image: url(../img/look-bg.jpg);
  height: 560px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.look__container{
  display: flex;
  align-items: flex-end;
  padding: 180px 0;
  gap: 35px;
}
.look__title{
  margin-bottom: 50px;
}
.look__content,
.look__form{
  flex-basis: 50%;
}
.look__form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-name{
  border: 0;
  padding: 11px 95px;
  opacity: 0.2;
  max-width: 255px;
  margin-right: 30px;
  margin-bottom: 35px;
  transition: all .3s;
}
.form-phone{
  border: 0;
  padding: 11px 83px;
  opacity: 0.2;
  max-width: 255px;
  margin-bottom: 35px;
  transition: all .3s;
}
.form-name::placeholder,
.form-phone::placeholder{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #BEBEBE;
}
.form-name:hover, .form-name:focus,
.form-phone:hover, .form-phone:focus{
  opacity: .7;
  border-radius: 10px;
}
.look__form-text{
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
  max-width: 255px;
  display: inline-block;
  margin-right: 30px;
}
.form-btn{
  padding: 11px 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  background: #D4C17F;
  cursor: pointer;
  max-width: 255px;
  transition: all .3s;
}
.form-btn:hover{
  background-color: #b59b42;
}