html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul,
ol{
  list-style: none;
}
img {
  max-width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: #242B33;
  color: #fff;
}
.container{
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  margin-bottom: 50px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.scroll-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  outline: none;
  color: #D4C17F;
  background-color: #242B33;
  border: 3px solid #D4C17F;
  cursor: pointer;
  padding: 15px;
  border-radius: 40%;
}
.header{
  width: 100%;
  padding: 30px 0;
  position: fixed;
  z-index:5;
  background: linear-gradient(180deg, rgba(36,43,51,1) 0%, rgba(36,43,51,1) 84%, rgba(36,43,51,0.2679446778711485) 100%);
}
.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
}
.header__list{
  display: flex;
}
.header__item:not(:last-child){
  margin-right: 39px;
}
.header__link{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  transition: all .3s;
}
.header__link:hover{
  opacity: .5;
}
.about{
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),url(../img/header-bg.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__container{
  padding-top: 25vh;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.about__content{
  max-width: 556px;
  margin: 0 auto 100px;
  text-align: center;
}
.about__title{
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #D4C17F;
  margin-bottom: 100px;
}

.mousey {
  display: inline-block;
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #D4C17F;;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #D4C17F;;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.about__btn{
  max-width: 583px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 135px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.about__adress{
  position: relative;
  padding-left: 36px;
}
.about__adress::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/header-adress.svg);
  width: 21px;
  height: 21px;
}
.about__phone{
  position: relative;
  padding-left: 35px;
}
.about__phone::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/header-phone.svg);
  width: 21px;
  height: 21px;
}
.benefits{
  background-image: url(../img/2.svg);
  background-repeat: no-repeat;
  background-position: 1350px;
}
.benefits__row{
  display: flex;
  justify-content: center;
  max-width: 814px;
  margin: 0 auto;
  padding: 0 10px;
}
.benefits__item{
  text-align: center;
}
.benefits__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0;
}
.benefits__img{
  margin-bottom: 47px;
}
.benefits_text{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}
.apartments{
  background-image: url(../img/3.svg);
  background-repeat: no-repeat;
  background-position: 193px 85px;
}
.apartments__title{
  margin-bottom: 100px;
}
.apartments__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.apartments__card{
  position: relative;
}
.apartments__wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-blend-mode: overlay;
  background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.apartments__text{
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 24px;
  line-height: 28px;
}
.look{
  background-image: url(../img/look-bg.jpg);
  /* height: 560px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.look__container{
  max-width: 1160px;
  display: flex;
  align-items: flex-end;
  padding: 180px 15px;
  gap: 35px;
}
.look__title{
  margin-bottom: 50px;
}
.look__content,
.look__form{
  flex-basis: 50%;
}
.look__form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-input{
  padding: 10px;
  text-align: center;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 255px;
  height: 50px;
  margin-bottom: 35px;
  transition: all .3s;
  color: #BEBEBE;
}
.form-input::placeholder{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #BEBEBE;
}
.form-input:active{
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  color: #BEBEBE;
}
.form-input:hover, .form-input:focus,
 .form-input:focus{
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  color: #BEBEBE;
}
.look__form-text{
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
  max-width: 255px;
  display: inline-block;
  margin-right: 30px;
}
.form-btn{
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #fff;
  border: 0;
  background: #D4C17F;
  cursor: pointer;
  width: 255px;
  height: 50px;
  transition: all .3s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.form-btn:hover{
  background-color: #b59b42;
}
.video{
  margin-bottom: 180px;
  background-image: url(../img/4.svg);
  background-repeat: no-repeat;
  background-position: 1330px;
}
.video__wrapper{
  position: relative;
  max-width: 719px;
  margin: 0 auto;
  overflow: hidden;
}
.video-iframe{
  width: 100%;
  min-height: 650px;
}
.video__poster{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video__poster-img{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.video__poster-btn{
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  transition: .8s;
} 
.video__poster-btn:hover{
  transform: scale(1.2);
}
.map{
  margin-bottom: 180px;
  background-image: url(../img/5.svg);
  background-repeat: no-repeat;
  background-position: 270px;
}
.map__title{
  margin-bottom: 100px;
}
.map-frame{
  width: 1100px;
  height: 358px;
  max-width: 100%;
  max-height: 100%;
  border: 0;
}
.question__form{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
  margin-bottom: 180px;
}
.question__form .form-name{
  margin-right: 0;
}
.question__form-text{
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
  max-width: 255px;
  display: inline-block;
}
.footer{
  background: #2D343C;
}
.footer__container{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  min-height: 272px;
}
.footer__item-social-list{
  display: flex;
}
.footer__item-social-item:not(:last-child){
  margin-right: 20px;
}
.footer__list{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.footer__item:not(:last-child){
  margin-bottom: 15px;
}
.footer__link{
  transition: all .3s;
}
.footer__link:hover{
  opacity: .5;
}
.accent{
  font-weight: 700;
  color: #D4C17F;
}
.footer__item-social-link svg path{
  transition: fill .5s;
}
.footer__item-social-link:hover svg path {
  fill: #D4C17F;
}

 @media (max-width:1154px){
  .apartments__cards{
    gap: 15px;
  }
  .look__container{
    justify-content: center;
    flex-wrap: wrap;
  }
  .look__content,
  .look__form{
    flex-basis: 100%;
  }
  .look__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .look__title{
    text-align: center;
  }
  .look__form-name,
  .look__form-phone,
  .look__form-text{
    margin: 0;
  }
  .question__form{
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
  }
  .question__title{
    display: flex;
    justify-content: center;
  }
}
@media (max-width:992px){
  .question__form{
    margin-bottom: 140px;
  }
  .footer__container{
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer__logo{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (max-width:768px){
  .header{
    padding: 20px 0 30px;
  }
  .header__burger {
    width: 30px;
    height: 30px;
    position: relative;
    z-index:20;
    overflow: hidden;
  }
  .header__burger  span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    transition: all 0.5s;
  }
  .header__burger  span:nth-of-type(2) {
    top: calc(50% - 10px);
  }
  .header__burger  span:nth-of-type(3) {
    top: calc(50% + 10px);
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #D4C17F;
    transform: translateX(-100%);
    transition: transform 0.5s; 
    text-align: center;
  }
  .header__nav.active {
    transform: translateX(0);
  }
  .header__list{
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 20px;
    margin: 0 auto;
  }
  .header__item:not(:last-child){
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__link{
    font-size: 25px;
  }
  .about__title{
    font-size: 40px;
    margin-bottom: 30px;
  }
  .benefits__list{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 70px 0;
  }
  .benefits__item{
    flex-basis: 100%;
  }
  .look__container{
    padding: 100px 15px;
  }
  .map{
    margin-bottom: 100px;
  }
  .map__title {
    margin-bottom: 50px;
  }
  .question__form{
    margin-bottom: 100px;
  }
  .footer__contacts{
    flex-direction: column;
    flex-basis: 100%;
    margin-top: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
  }
}
@media (max-width:600px){
  .about__btn{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
}

